<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/styleCalc.css" />
  </head>
  <body>
    <!--
Esta é uma tabela HTML com elementos <input> que permitem ao usuário inserir dados e
elementos <span> nos quais o programa pode exibir seus resultados. Esses elementos têm
identificações como "interest" e "years". Essas identificações são usadas no código
JavaScript que vem após a tabela. Note que alguns dos elementos de entrada definem
rotinas de tratamento de evento "onchange" ou "onclick". Elas especificam strings de
código JavaScript a ser executado quando o usuário insere dados ou dá um clique.
-->
    <table>
      <tr>
        <th>Entrada dos dados do empréstimo:</th>
        <td></td>
        <th>Saldo do Empréstimo, Total acumulado, total de juros</th>
      </tr>
      <tr>
        <td>
          <label for="valor-emprestimo" class="label"
            >Valor do empréstimo(R$):</label
          >
        </td>
        <td><input id="valor-emprestimo" onchange="calculate();" /></td>
        <td rowspan="8">
          <canvas id="grafico" width="400" height="250"></canvas>
        </td>
      </tr>
      <tr>
        <td><label for="juros-anual" class="label">Juros Anual (%):</label></td>
        <td><input id="juros-anual" onchange="calculate();" /></td>
      </tr>
      <tr>
        <td>
          <label for="prazo-pagamento" class="label"
            >Prazo de pagamento (a.a):</label
          >
        </td>
        <td><input id="prazo-pagamento" onchange="calculate();" /></td>
      </tr>

      <tr>
        <td>
          <label for="codigo-postal" class="label"
            >CEP (para encontrar credores):</label
          >
        </td>
        <td><input id="codigo-postal" onchange="calculate();" /></td>
      </tr>

      <tr>
        <th>Pagamento aproximado:</th>
        <td><button onclick="calculate();">Calculate</button></td>
      </tr>
      <tr>
        <td>Parcela mensal:</td>
        <td>$<span class="output" id="parcela-mensal"></span></td>
      </tr>
      <tr>
        <td>Total financiado:</td>
        <td>$<span class="output" id="total-financiado"></span></td>
      </tr>
      <tr>
        <td>Total de juros:</td>
        <td>$<span class="output" id="total-juros"></span></td>
      </tr>
      <tr>
        <th>Fiador:</th>
        <td colspan="2">
          <div id="lenders">
            <input type="text" placeholder="Informe o nome do fiador" />
          </div>
        </td>
      </tr>
    </table>
    <script src="../public/scripts/b0.1.calculadora.js"></script>
  </body>
</html>
