<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOM learning</title>
    <!--
        <script src="../public/scripts/d1.1.selectElements.js" defer></script>
        <script src="../public/scripts/d1.2.valueManipuling.js" defer></script>
        <script src="../public/scripts/d1.3.styleManipuling.js" defer></script>
        <script src="../public/scripts/d1.4.findElements.js" defer></script>
        <script src="../public/scripts/d1.6.documentsForms.js" defer></script>
        <script src="../public/scripts/d1.7.debbugBug.js" defer></script>
      -->
      <script src="../public/scripts/d1.05.documentEvents.js" defer></script>
    

  </head>
  <body>
    <header>
      <nav>
        <ul id="menu">
          <li><a href="#" class="home">Home</a></li>
          <li><a href="#" class="sobre">Sobre</a></li>
          <li><a href="#" class="contato">Contato</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="select-area">
        <h2 id="title-select">Titulo base seleção</h2>
        <p class="paragraph-select" id="paragraph-01">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod dicta
          numquam cumque iusto inventore officia repudiandae debitis et totam
          reprehenderit, deleniti, alias praesentium. Hic et sequi, ipsa ducimus
          illo corrupti.
        </p>
        <p class="paragraph-select" id="paragraph-02">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio,
          corporis id exercitationem minus, impedit consequuntur temporibus
          recusandae iusto alias minima officiis maiores rem odio eos mollitia
          cum dolorum necessitatibus! Quae.
        </p>
        <p class="paragraph-select" id="paragraph-03">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
          quas delectus totam aspernatur! Deleniti praesentium, quia adipisci
          beatae molestiae sint temporibus consequuntur et optio cumque possimus
          voluptas eaque ratione voluptatem!
        </p>
        <h2 id="title-select-two">Titulo base seleção</h2>
        <p class="paragraph-select" id="paragraph-04">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nihil
          sit incidunt eaque omnis, atque molestiae veniam soluta asperiores
          neque eum voluptate repudiandae ratione aut ducimus officia ad
          eligendi iusto.
        </p>
        <p class="paragraph-select" id="paragraph-05">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae
          perspiciatis quisquam pariatur totam delectus accusamus laboriosam,
          provident quis. Unde ex commodi voluptatem vitae accusamus voluptas
          eius architecto, eum laborum maxime.
        </p>
        <p class="paragraph-select" id="paragraph-06">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe nisi
          quasi ipsa hic quod, aliquid doloribus tenetur aspernatur laboriosam
          iste nihil, possimus nobis maiores sunt repellendus distinctio
          accusantium. Temporibus, laudantium?
        </p>
      </section>
      <section id="values-handler">
        <h2 id="handler-title-one">Area de manipulação de valores de elmentos</h2>
        <p class="handler-paragraph" id="handler-01">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum ipsa
          nam sed repellendus ducimus laborum alias reiciendis corrupti, vero
          illo mollitia! Nam eaque fugiat magni deleniti, delectus in
          reprehenderit illum.
        </p>
        <p class="handler-paragraph" id="handler-02">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio
          similique modi quasi facilis quam ullam consequatur minus excepturi
          labore culpa veritatis, provident voluptates quis quos dolorum esse
          ipsa quod nisi!
        </p>
        <p class="handler-paragraph" id="handler-03">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
          debitis enim temporibus dolor asperiores quaerat corrupti? Dolorem
          cupiditate enim quo? Quo mollitia dignissimos ducimus culpa velit?
          Porro veniam laborum possimus?
        </p>
        <h2>Area de manipulação de valores de elementos 2</h2>
        <p class="handler-paragraph" id="handler-04">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
          asperiores harum libero ea, cum nobis cumque qui rerum, tenetur
          eligendi perspiciatis dolorum iusto ex, repellendus in aspernatur nam!
          Maiores, laborum?
        </p>
        <p class="handler-paragraph" id="handler-05">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque et
          inventore eius magni aspernatur hic, enim nihil autem commodi deleniti
          similique dicta eos cum itaque voluptates perspiciatis dignissimos
          voluptatum corrupti.
        </p>
        <p class="handler-paragraph" id="handler-06">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse
          mollitia tempore recusandae dolor deleniti sequi eaque laborum odit!
          Sed sit illum consequuntur nesciunt. Enim quibusdam iusto molestias
          rem blanditiis repudiandae.
        </p>
        <h1>Manipulando valores de input</h1>
        <label for="">
            Profissão:
            <input type="text" name="profissao" id="profissao">
        </label>
      </section>
      <section id="style-handler">
        <div class="square" ></div>
        <div class="circle" ></div>
      </section>
      <section id="find-elements">
        <ul>
          <li>Filho 01</li>
          <li>Filho 02</li>
          <li>Filho 03</li>
          <li>Filho 04</li>
          <li>Filho 05</li>
        </ul>
        <dl>
          <caption>
            Lista de detalhamento
          </caption>
          <dt>Arroz</dt>
          <dd>Ceral comum</dd>
        </dl>
      </section>
      <section id="handler-input">
        
      </section>
      <section id="forms-area">
        <form action="..." method="get" id="registration">
            <label for="">
                Name:
                <input type="text" name="name" id="name">
            </label>
            <label for="">
                Senha:
                <input type="password" name="password" id="password">
            </label>
            <br>
            <button id="btn-register">Registration</button>
        </form>
      </section>
    </main>
  </body>
</html>
