<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <!-- Meta tag de compatibilidade com IE7 -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Meta de compatitilidade com Edge-->
    <meta name="keywords" content="HtML, CSS3, JavaScript" />
    <!-- Meta tag de palavreas chaves, importante para indexação de buscadores web -->
    <meta name="description" content="Pagina template de HTML" />
    <!-- Meta tag de descrição, importante para indexação de buscadores web -->
    <meta name="author" content="nome do autor da pagina" />
    <title>Introduction JavaScript</title>
    <!-- Tags de script -->
    <!-- 
        <script src="../public/scripts/b1.8.functions.js" defer></script>
        <script src="../public/scripts/b1.11.asynchronous.js" defer></script>
    -->
    <script src="../public/scripts/jquery-3.7.1.min.js" defer></script>
    <script src="../public/scripts/challenger/c1.menu.js"></script>
    <!-- Tags de Links/Imports -->
    <link rel="stylesheet" href="../public/styles/stylesheet.css" />
  </head>
  <body>
    <!--    Area de Menu   -->
    <header class="navbar-container">
      <!-- Tag com <atributo> de agrupamento <class>  -->
      <nav class="navigation">
        <div class="navigation-inner">
          <img src="" alt="logo" id="logo" />
          <div class="main-navigation">
            <ul class="main-navigation-item">
              <li><a href="#ext-area" class="navbar-item">Area de Texto</a></li>
              <li>
                <a href="#media-area" class="navbar-item">Area de Midia</a>
              </li>
              <li>
                <a href="#list-area" class="navbar-item">Area de Lista</a>
              </li>
              <li>
                <a href="#form-area" class="navbar-item">Area de Formulario</a>
              </li>
              <li>
                <a href="#canvas-area" class="navbar-item">Area de Canvas</a>
              </li>
            </ul>
          </div>
          <div class="btn-burguer burguer-container" id="burguer-menu">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <h1 id="main-title">HtML basico</h1>
      <section class="section-group" id="text-area">
        <article>
            <h2>Area de textos e titulos</h2>
            <!-- Elementos de blodo e elemento inline -->
            <p>
              Lorem, <span>ipsum dolor sit amet consectetur</span> adipisicing elit. Suscipit
              modi, <strong>sint sequi ullam vero fuga magni nulla</strong> commodi animi fugiat iste
              assumenda <em>dignissimos voluptate aut architecto</em> quas ex unde ratione.
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Necessitatibus aliquid asperiores explicabo architecto debitis
              molestias voluptatum odio iusto corrupti? Hic quia, ipsum aliquam
              doloremque rem ut similique laborum obcaecati. Minus.
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis quasi
              ipsa iste! In debitis eos id doloremque eum, sapiente molestiae autem
              suscipit adipisci itaque sed aliquid labore dolores consequuntur sunt?
            </p>
        </article>
        <article>
            <h3>Subtitulo nivel 3</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Exercitationem, dolorum. Vitae deserunt vero laboriosam rerum pariatur
              voluptate iste ducimus velit saepe! Eos fugiat asperiores distinctio
              perspiciatis alias soluta maiores placeat.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
              impedit qui dolorem est in minima, earum ex, possimus recusandae, eos
              pariatur ipsum enim reiciendis ipsa fugiat ipsam architecto ratione
              perferendis?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, dolor
              ut ea harum quo reprehenderit non cupiditate eius esse reiciendis
              aperiam et sint repellat nobis facere quidem dignissimos eos?
              Consequuntur. Vel incidunt aspernatur ducimus voluptate. Tempora
              consequuntur quo distinctio reiciendis dolores perspiciatis esse
              itaque nisi natus debitis voluptate fuga, maiores, id cum assumenda
              tempore. Hic quas odit obcaecati libero autem. Minus porro dolorum
              voluptatem accusantium? Atque expedita et a aperiam, quasi qui magnam
              unde placeat ab asperiores veniam officia ratione quis eum harum nisi!
              Eveniet itaque amet officia provident illo?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
              dolore beatae aliquam cupiditate impedit quas quos voluptatum earum.
              Recusandae non enim asperiores consequatur tempora, assumenda
              voluptate eum eius saepe nulla?
            </p>
        </article>
        <aside>
            <h3>Aside tag</h3>
            <ul>
                <li>Topico 1</li>
                <li>Topico 2</li>
                <li>Topico 3</li>
                <li>Topico 4</li>
                <li>Topico 5</li>
            </ul>
        </aside>
        <article>
            <h4>Subtitulo nivel 4</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, ipsum
              numquam esse soluta totam, officia fugit odio eaque consequuntur
              perferendis harum blanditiis debitis distinctio itaque id, aperiam
              suscipit. Ut, blanditiis.
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit,
              voluptatibus? Optio itaque ut laborum sit accusamus enim ad labore
              doloremque numquam, maxime cum tempore quia. Voluptate debitis
              delectus id error? Earum numquam suscipit libero in. Pariatur
              exercitationem facilis laboriosam voluptatum! Esse dolore sit et nisi
              repellendus velit nesciunt neque perferendis nihil rem, tenetur non
              fugit quae aperiam consequatur explicabo hic! Tenetur repellendus
              distinctio incidunt nam quidem provident, quas et vel libero
              laudantium ut officia sequi numquam soluta odio labore eum nesciunt
              atque sed dolor magni recusandae. Dolor suscipit illum quam? Eos saepe
              non est quis expedita maxime optio quod, sunt rerum doloribus ut quas,
              tempora itaque in deleniti harum facilis perferendis doloremque ipsum
              dignissimos laborum? Tenetur soluta ullam fugit velit. Perferendis
              tempore hic suscipit aliquid nostrum. Sed nam voluptatem qui minus
              adipisci sequi doloribus, recusandae vel ut illum ratione, a nobis
              veniam minima. Laudantium ipsum vitae cum nam maiores debitis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
              quidem corporis autem odit, nostrum nisi provident veritatis
              laudantium neque excepturi iure eveniet esse porro totam incidunt
              minima, veniam quaerat quae.u
            </p>
        </article>
      </section>
      <section class="section-group" id="media-area">
        <h2>Area de Midias</h2>

        <div class="media-individual-area" id="video-area">
            <video src="" controls></video>

        </div>
        <div class="media-individual-area" id="image-area">
            <figure>
                <img src="" alt="Imagem inserido no html">
                <figcaption></figcaption>
            </figure>
        </div>
        <div class="media-individual-area" id="audio-area">
            <audio src="" controls></audio>
        </div>
      </section>
      <section class="section-group" id="list-area">
        <h2>Area de Listas</h2>
        <div class="list-group" id="ordened-list">
            <ol>
                <li>Arroz</li>
                <li>Feijão</li>
                <li>Macarrão</li>
            </ol>
        </div>
        <div class="list-group" id="unordened-list">
            <ul>
                <li>Amarelo</li>
                <li>Verde</li>
                <li>Azul</li>
                <li>branco</li>
            </ul>
        </div>
        <div class="list-group" id="detail-list">
            <dl>
                <dt>Verde
                    <dd>Representa as matas do brasil</dd>
                </dt>
                <dt>Amarelo
                    <dd>Representa o ouro e os tesouros do brasil</dd>
                </dt>
                <dt>Azul
                    <dd>Representa as aguas e o ceu azul do brasil</dd>
                </dt>
            </dl>
        </div>
      </section>

      <!--    Formulario é a maneira de iteragir com o usuario, coletando dados de entrada para que seja manipulado pela aplicação    -->
      <section class="section-group" id="form-area">
        <h2>Area de Formularios</h2>
        <form action="/urlDeDestino" method="post" id="logar">
            <fieldset>
                <caption>Area de Login</caption>                
                    <input type="email" id="email" class="input-group" name="user-email" placeholder="Entry your name:">                    
                    <input type="password" name="user-password" id="password" class="input-group" placeholder="Entry your password">
                    <button type="submit">Enviar</button>                
            </fieldset>
        </form>
        <form action="/registrar" method="post" id="registration">
            <fieldset>
                <caption>Dados do Usuário</caption>
                <div>
                    <input type="text" name="user-name" id="user-name" placeholder="Entry your name">
                    <input type="date" name="user-birthdate" id="user-birthdate" placeholder="Entry your birthdate">
                    <input type="email" name="user-mail" id="user-mail" placeholder="Entry your e-mail">
                    <input type="file" name="user-documents" id="user-documents" multiple accept=".jpeg, .png, .gif">
                </div>
            </fieldset>

        </form>
      </section>
      <section class="section-group" id="canvas-area">
        <canvas>

        </canvas>
      </section>
    </main>
    <footer></footer>

    <!-- Script Area    -->

    
  </body>
</html>
