<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <!-- Meta tag de compatibilidade com IE7 -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Meta de compatitilidade com Edge-->
    <meta name="keywords" content="HtML, CSS3, JavaScript" />
    <!-- Meta tag de palavreas chaves, importante para indexação de buscadores web -->
    <meta name="description" content="Pagina template de HTML" />
    <!-- Meta tag de descrição, importante para indexação de buscadores web -->
    <meta name="author" content="nome do autor da pagina" />
    <title>Introduction JavaScript</title>

    <script src="../public/scripts/challenger/c1.menu.js" defer></script>
    <!-- Tags de script -->
    <!-- 
        <script src="../public/scripts/b1.8.functions.js" defer></script>
        <script src="../public/scripts/b1.11.asynchronous.js" defer></script>
    -->
    <!-- Tags de Links/Imports -->
    <link rel="stylesheet" href="../public/styles/stylesheet.css" />
  </head>
  <body>
    <!--    Area de Menu   -->
    <header class="navbar-container">
      <!-- Tag com <atributo> de agrupamento <class>-->
      <nav class="navigation">
        <div class="navigation-inner">
          <img src="" alt="logo" id="logo" />
          <div class="main-navigation">
            <ul class="main-navigation-item">
              <li><a href="#ext-area" class="navbar-item">Area de Texto</a></li>
              <li>
                <a href="#media-area" class="navbar-item">Area de Midia</a>
              </li>
              <li>
                <a href="#list-area" class="navbar-item">Area de Lista</a>
              </li>
              <li>
                <a href="#form-area" class="navbar-item">Area de Formulario</a>
              </li>
              <li>
                <a href="#canvas-area" class="navbar-item">Area de Canvas</a>
              </li>
            </ul>
          </div>
          <div class="btn-burguer burguer-container" id="burguer-menu">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </div>
      </nav>
    </header>

    <!-- Script Area    -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  </body>
</html>
