<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning JavaScript</title>
    <link rel="stylesheet" href="../public/styles/stylesheet.css">
</head>
<body>
    <!-- Tag de conteudo para cabeçalhos-->
    <header>
        <div class="container">
            <div class="logo"><img src="../public/img/logoFormat.png" alt=""></div>
            <nav class="nav-bar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Games</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="ghost">
        
    </section>
    
    <main>


    </main>
    <footer>

    </footer>
</body>
</html>