<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaning FrontEnd</title>
    <!-- Area de estilos externos -->
    <link rel="stylesheet" href="../public/styles/resetGeneralesStyles.css">
    <link rel="stylesheet" href="../public/styles/tagsStyles.css">
    <link rel="stylesheet" href="../public/styles/colorsStyles.css">
    <link rel="stylesheet" href="../public/styles/backgroendStyles.css">
  </head>
  <body>
    <!-- Tag de conteudo para cabeçalhos-->
    <header>
      <div class="container">
        <div class="logo">
          <img src="../public/img/logoFormat.png" alt="" />
        </div>
        <nav class="nav-bar">
          <ul>
            <li><a href="i">Home</a></li>
            <li><a href="#">Learning</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="ghost"></section>

    <main>
      <!-- Tag semantica de Seções de conteudo no documento HTML -->
      <section>
        <!-- Tag semantica de conteudo de importancia contextual do documento html-->
        <article>
          <!-- Heading: Tag de titulo que define o conteudo mais importante do documento html-->
          <h1>HTML Fundamentos</h1>
          <!-- Tag de paragrafo   -->
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
            corporis molestias minus exercitationem amet recusandae illo quos
            nihil, hic harum eius quasi odio nostrum illum atque veritatis eos
            accusamus quo!
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed
            eveniet doloremque dolores libero, alias deserunt cupiditate
            delectus excepturi. Modi illo accusamus perferendis facere quas
            quaerat ullam nemo suscipit facilis perspiciatis!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis
            dolorem quod delectus rem consequatur quia architecto assumenda
            labore molestias placeat, distinctio sapiente sed veritatis nostrum
            error adipisci autem, voluptate reprehenderit.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
            vel ratione, placeat dolorum atque architecto dolor dicta quaerat
            tempora laboriosam ipsum! Quae impedit soluta earum ea repellat
            reprehenderit minus voluptas?
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta quae
            facere adipisci excepturi quasi. Perferendis asperiores quas
            explicabo eum, omnis natus pariatur delectus quidem saepe veniam!
            Neque ab temporibus odit?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque non
            error, consequatur soluta ullam et inventore expedita voluptates,
            porro at molestiae illum maiores, vero ipsam sed magni numquam
            placeat ut.
          </p>
        </article>
      </section>
      <section>
        <h2>Form Section</h2>
        <form action="">
          <!-- Atributo required força a inserção de dados no campo do formulario-->
          <input
            type="text"
            name="nome"
            required
            placeholder="Digite seu nome"
            aria-placeholder="Digite seu nome"
          />
          <!-- Input do tipo email que valida a entrada de dados -->
          <input
            type="email"
            name="email-user"
            id="email-user"
            aria-placeholder="digite seu principal email"
            placeholder="digite seu principal email"
          />
          <input type="submit" value="Enviar" />
        </form>
      </section>
      <section>
        <article>
          <h2>Editable section</h2>
          <!-- Tag com atributo de edição de conteudo da tag -->
          <p contenteditable="true">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
            accusamus eum omnis minus rerum, libero aut modi rem, atque, odio
            quod. Minus vitae earum officia culpa nihil! Neque, non doloribus.
          </p>
        </article>
      </section>
      <section>
        <article>
          <h2>Details Section</h2>
          <details open="open">
            <summary>Gato</summary>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat
              assumenda libero quidem alias nesciunt voluptas consequatur at
              dolor aliquam, voluptate sequi id itaque iure reiciendis dolores
              optio nihil animi voluptates.
            </p>
          </details>
        </article>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
