<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List HTML</title>
    <!-- Area de estilos externos -->
    <link rel="stylesheet" href="../public/styles/resetGeneralesStyles.css">
    <link rel="stylesheet" href="../public/styles/tagsStyles.css">
    <link rel="stylesheet" href="../public/styles/colorsStyles.css">
    <link rel="stylesheet" href="../public/styles/backgroendStyles.css">
  </head>
  <body>
    <!-- Tag de conteudo para cabeçalhos-->
    <header>
      <div class="container">
        <div class="logo">
          <img src="../public/img/logoFormat.png" alt="" />
        </div>
        <nav class="nav-bar">
          <ul>
            <li><a href="i">Home</a></li>
            <li><a href="#">Learning</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="ghost"></section>

    <main>
      <!-- Tag semantica de Seções de conteudo no documento HTML -->
      <section>
        <!-- Tag semantica de conteudo de importancia contextual do documento html-->
        <article>
          <!-- Heading: Tag de titulo que define o conteudo mais importante do documento html-->
          <h1>HTML List</h1>
        </article>
      </section>
      <section>
        <h2>Lista não Ordenada</h2>
        <!-- Tag de lista não ordenada-->
        <ul>
          <caption>
            Lista não Ordanada
          </caption>
          <li>Arroz</li>
          <li>Feijão</li>
          <li>Macarrão</li>
          <li>Bife</li>
          <li>Salada</li>
        </ul>
      </section>

      <section id="ordened-list">
        <h2>Lista Ordenada</h2>
        <!-- Tag de lista ordada -->
        <ol>
          <caption>
            Lista Ordenada
          </caption>
          <li class="ordened-list">Estudar HTML</li>
          <li>Estudar CSS</li>
          <li>Estudar JavaScript</li>
          <li>Estudar Node</li>
          <li>Estudar React</li>
          <li>Estudar Angular</li>
          <li>Estudar Vue</li>
          <li>Estudar Banco de Dados Relacional</li>
          <li>Estudar Banco de Dados Não Relacional</li>
        </ol>
      </section>

      <section>
        <h2>Data list</h2>
        <p class="explicacao-tag">
          A tag datalis serve para carregar uma lista, dentro de um form, a
          partir de um input, servindo como um filtro autocomplete de seleção de
          dados.
        </p>
        <form action="">
          <input list="animais" name="animal" />
          <datalist id="animais">
            <option value="Cachorro"></option>
            <option value="Gato"></option>
            <option value="Cavalo"></option>
            <option value="Elefante"></option>
          </datalist>
        </form>
      </section>
      <section>
        <h2>Progress Section</h2>
        <p class="explicacao-tag">
          A tag progress serve para criar barras de progresso ou carregamento
          sem o auxilio de CSS ou JavaScript, somente com a atualização dos
          atributos de valores de progresso. Trata-se de uma barra de loading
          nativa no html5.
        </p>
        <progress value="63" max="100"></progress>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
