<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaning FrontEnd</title>
    <link rel="stylesheet" href="../public/styles/stylesheet.css" />
  </head>
  <body>
    <!-- Tag de conteudo para cabeçalhos-->
    <header>
      <div class="container">
        <div class="logo">
          <img src="../public/img/logoFormat.png" alt="" />
        </div>
        <nav class="nav-bar">
          <ul>
            <li><a href="i">Home</a></li>
            <li><a href="#">Learning</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="ghost"></section>

    <main>
      <!-- Tag semantica de Seções de conteudo no documento HTML -->
      <section>
        <!-- Tag semantica de conteudo de importancia contextual do documento html-->
        <article>
          <!-- Heading: Tag de titulo que define o conteudo mais importante do documento html-->
          <h1>HTML Fundamentos</h1>
          <!-- Tag de paragrafo   -->
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
            corporis molestias minus exercitationem amet recusandae illo quos
            nihil, hic harum eius quasi odio nostrum illum atque veritatis eos
            accusamus quo!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ad aut
            ducimus repudiandae maxime voluptatem est illo aspernatur, minima ea
            nulla hic temporibus harum sapiente aperiam autem. Praesentium,
            delectus ea.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores
            nostrum soluta adipisci veritatis eos deleniti accusantium quibusdam
            iste, laborum debitis error nam aspernatur quam autem natus
            reprehenderit blanditiis officiis in.
          </p>
          <figure>
            <img src="../public/img/ricefield.jpg" alt="Campo de arroz" />
            <figcaption>Lindo campo de arroz...</figcaption>
          </figure>
        </article>
        <aside>
          <h3>Conteudo relacionado ao article de uma mesa seção</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
            corporis accusamus autem praesentium harum enim doloremque officiis
            animi quae sunt commodi quia aperiam, nobis distinctio ex vel atque
            eveniet voluptatum!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            minima hic ex laborum natus explicabo omnis maxime facere
            necessitatibus dolorum pariatur ad sit similique, dolore maiores
            quod, est molestias sint!
          </p>
          <p contenteditable="true">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam
            tenetur tempora reiciendis rerum similique voluptatem quas, atque
            sint, repellat maiores saepe quidem esse debitis? Quam, ab! Nesciunt
            velit animi sequi.
          </p>
        </aside>
      </section>
    </main>
    <footer>
      <nav class="nav-bar">
        <ul>
          <li><a href="i">Home</a></li>
          <li><a href="#">Learning</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
      <p>
        Rodape &copy;
      </p>
    </footer>
  </body>
</html>
