<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fundamentos de CSS</title>
    <!-- External style import -->
    <!-- Area de estilos externos -->
    <link rel="stylesheet" href="../public/styles/resetGeneralesStyles.css">
    <link rel="stylesheet" href="../public/styles/tagsStyles.css">
    <link rel="stylesheet" href="../public/styles/colorsStyles.css">
    <link rel="stylesheet" href="../public/styles/backgroendStyles.css">
    <!-- Internal style tag -->
    <style>
      .container-internal .internal-style {
        color: green;
      }
    </style>
  </head>
  <body>
    <!-- Tag de conteudo para cabeçalhos-->
    <header>
      <div class="container">
        <div class="logo">
          <img src="../public/img/logoFormat.png" alt="" />
        </div>
        <nav class="nav-bar">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Learning</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="ghost"></section>
    <main>
      <section class="container-inlinestyle">
        <!-- In line css -->
        <h1 style="color: red">Isso é um estilo color in line</h1>
        <h1 style="color: blue">Isso é um estilo color in line</h1>
      </section>
      <section class="container-internal">
        <h1 class="internal-style">
          Estilizado por uma regra interna do documento HTML.
        </h1>
      </section>
      <section class="container-external">
        <div class="color-container">
          <div class="hexa-color-container">
            <h2>Seção de cores Hexadecimal</h2>
            <p class="hexa-1">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse
              beatae qui quod provident distinctio eum alias minus, excepturi
              voluptatum mollitia nihil unde, inventore non eius enim? Deserunt
              quibusdam laboriosam accusamus?
            </p>
            <p class="hexa-2">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt
              quam debitis iure at aliquam? Assumenda repellendus, eligendi,
              obcaecati, facere aliquid eos suscipit nisi earum itaque
              temporibus saepe? Corrupti, magnam voluptatem.
            </p>
            <p class="hexa-3">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Accusantium tenetur debitis voluptatibus ipsum iure natus magni
              maiores voluptates laboriosam eligendi quos quas magnam, nulla
              repudiandae illum consectetur harum iusto veritatis.
            </p>
            <p class="hexa-4">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Assumenda, fugiat. Dignissimos voluptatum excepturi dolorem
              necessitatibus provident ipsa mollitia. Animi sit quibusdam
              veritatis reiciendis rem pariatur amet aspernatur ea eaque
              similique?
            </p>
          </div>
          <div class="rgb-color-container">
            <h2>Secão de cores em RGB</h2>
            <p class="rgb">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
              aut fuga voluptatum reprehenderit quis dolores eos officiis
              expedita! Optio tenetur rem praesentium eaque eum ut dolore vero
              odio fugiat impedit.
            </p>
            <p class="rgb">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae
              itaque reiciendis perspiciatis dicta. Facilis cumque, veritatis
              optio dignissimos rerum eum aspernatur, officia repellat similique
              iste ipsam obcaecati. Quae, non rerum?
            </p>
            <p class="rgb">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. A
              officiis odio ipsum eos aut suscipit velit quae praesentium nemo?
              Labore alias et, dignissimos molestias iure atque aut id
              temporibus! Obcaecati.
            </p>
            <p class="rgb">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Voluptates eius omnis sit. Totam neque maxime amet officiis.
              Nobis, repudiandae consequatur soluta laboriosam earum, maiores
              odit velit esse quia eligendi provident?
            </p>
          </div>
          <div class="rgba-color-container">
            <h2 class="rgba">Secão de cores RGBA</h2>
            <p class="rgba">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi
              ipsum debitis nemo architecto itaque assumenda, voluptatum
              doloribus explicabo quidem necessitatibus sequi at. Nulla, beatae?
              Optio corporis quod tempora voluptates molestiae.
            </p>
            <p class="rgba">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea
              quaerat, repellat, perferendis aliquid vero nisi possimus nam
              illum rem expedita voluptates exercitationem, temporibus facere
              atque quidem molestiae alias hic culpa.
            </p>
            <p class="rgba-opacity">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex
              magnam eius deserunt explicabo, quisquam officia corporis!
              Voluptate odio, exercitationem mollitia atque, tempora inventore
              cum vero dolore reprehenderit corrupti alias perspiciatis.
            </p>
            <p class="rgba">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Quibusdam molestias quod sit accusantium iste quae suscipit, vero
              nesciunt ab distinctio ipsa quisquam porro adipisci voluptatum
              facilis aliquid illum incidunt deleniti.
            </p>
          </div>
          <div class="hsl-color-container">
            <h2>Seção de corem em HSL</h2>
            <p class="hsl">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
              praesentium amet explicabo beatae voluptatem veritatis optio
              reprehenderit inventore soluta nam esse, reiciendis nesciunt
              quaerat. Ratione voluptas cumque eligendi ipsam at.
            </p>
            <p class="hsl">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam
              sint fugiat voluptates aliquid neque, laudantium consequuntur,
              nobis excepturi quaerat pariatur atque rerum illum rem quia
              dolores adipisci, repellendus ut officiis!
            </p>
            <p class="hsl">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas
              dicta ratione qui atque quae, molestias quo a nihil harum sapiente
              deserunt nobis iusto nulla eum nostrum ipsum eveniet. Tempora,
              quam.
            </p>
            <p class="hsl">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
              officia praesentium neque nostrum animi sed quaerat quasi ea error
              rerum impedit recusandae adipisci ut, ab similique? Nisi,
              assumenda unde. Aliquid.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2>Seção de Background</h2>
        <div class="background-color-container">
          <div class="back-color-fixed">
            <h2>Backgroud Color fixed</h2>

          </div>
          <div class="back-color-opacity">
            <h2>Backgroud color opacity</h2>
          </div>

        </div>
        <div class="background-image-container">
          <figure class="image-1">
            <h2>Imagem repeat</h2>
            <p>Imagem apenas com a regra de carregamento como background</p>
            <figcaption>Foto de Monayem Billah: <a href="https://www.pexels.com/pt-br/foto/agricultura-interior-colheita-safra-20161587/" target="_blank">agricultura-interior-colheita-safra</a></figcaption>
          </figure>
          <figure class="image-2">
            <h2>Imagem com tratamento de positionamento</h2>
            <p>imagem com tratamento de background-position: center</p>
            <figcaption>Foto de Jari Van de Vel: <a href="https://www.pexels.com/pt-br/foto/panda-vermelho-raposa-de-fogo-sentado-tronco-18189590/" target="_blank">panda-vermelho-raposa-de-fogo-sentado-tronco</a></figcaption>
          </figure>

          <figure class="image-3">
            <h2>Imagem 03</h2>
            <figcaption>Foto de Helena Jankovičová Kováčová: <a href="https://www.pexels.com/pt-br/foto/coniferas-grama-parque-verao-18473907/">coniferas-grama-parque-verao</a></figcaption>
          </figure>
        </div>
      </section>
    </main>
  </body>
</html>
