:root {
    --mint-blue-color1: #33ccff;
    --mint-blue-color2: #2699e6;
    --mint-blue-color3: #1a66cc;
    --mint-blue-color4: #0d33b3;
    --mint-blue-color5: #000099;
}

@font-face {
    src: url('../fonts/LEMONMILK-Light.otf');
    font-family: 'Lemon Milk';
}

@font-face {
    src: url('../fonts/Roboto-Light.ttf');
    font-family: 'Roboto';
}

@font-face {
    src: url('../fonts/Sixtyfour-Regular.ttf');
    font-family: 'Sixtyfour';
}

/*  Resetar configurações default dos elementos html*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lemon Milk';

}


.rgb-color-container {
    border: 2px solid rgb(255, 0, 0);
    height: 50vh;
}

.rgb {
    /* Definindo cor com regras RGB */
    color: rgb(0, 0, 255);
}


.rgba-color-container {
    border: 2px solid rgb(0, 0, 0);
    height: 50vh;
}

.rgba {
    /* Definindo cor com opacidade */
    color: rgba(red, 0, 0, 0.2);
}


.hexa-color-container {
    border: 2px solid rgb(0, 255, 0);
    height: 50vh;
}

.hexa {
    color: #55a355;
}


.hsl-color-container {
    border: 2px solid rgb(0, 0, 255);
    height: 50vh;
}

.hsl {
    color: hsl(hue, saturation, lightness);
}












