@font-face {
    font-family: "Roboto";
    src: url('../../fonts/Roboto-Light.ttf');
}


body {
    background: #fff1d6 url(../../img/pexels-francesco-ungaro-281260.jpg); /* Foto de Francesco Ungaro: https://www.pexels.com/pt-br/foto/ceu-azul-281260/ */
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    font-family: "Roboto", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6 ;
}

h1 a {
    color: #290caa;
    text-decoration: none;
    padding: 0.5rem;
}

h1 a:visited {
    color: #290ccc;

}

h1 a:hover {
    background-color: #290caa;
    color: #fff;

}

.container {
    margin: 0 auto;
    width: 80%;
}


.place {
    background-color: #fff;
    border-color: #ccc #999 #999 #ccc;
    border: 1px solid #ccc;
    margin-bottom: 1.3rem;
    padding: 0.8rem;

}

.flex {
    display: flex;
    position: relative;
    
}


.place h2 {
    border-bottom: 1px dashed #7e9f19;
    margin: 0;
    width: 80%;
}


.place a {
    color: #2c88a7;
    font-weight: bold;    
}

.place img {
    border: 1px solid#7e9f19;
    margin: 10px 10px 0 0;
    padding: 0.2rem;
}

.place img {
    width: 100%;
}

.sidenote {
    background-color: #fffbe4;
    border: 1px solid #c9bc8f;
    padding: 0.8rem;
    margin-left: 10px;
    
}

.sidenote h3 {
    font-size: 1.8rem;
    margin-top: 0;
}


.sidenote dt dd {
    font-size: 1.2rem;
    margin-left: 1rem;
}





















