<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicios JS</title>

    <!-- Area de integrações -->
    <link rel="stylesheet" href="../public/styles/styleCalc.css">
</head>
<body>
    <div class="imc">
        <form action="">
            <input type="number" placeholder="digite seu peso em kg" id="peso">
            <input type="number" placeholder="digite sua altura em m.cm" id="altura">
            <button type="button" id="btn-imc">calcular</button>
        </form>
    <script>
        let btn = document.querySelector('#btn-imc');
        btn.addEventListener('click', function(evn) {
            evn.preventDefault()
            let peso = Number(document.querySelector('#peso').value);
            let altura = Number(document.querySelector('#altura').value.replace(',',"."));
            let imc = peso / (altura * altura);

            if(imc <= 17) {
                document.write("muito abaixo do peso");
            } else if(imc > 17 && imc <=18.5) {
                document.write("Abaixo do peso");
            } else if(imc > 18.5 && imc <=25) {               
                document.write("Peso normal");
            } else if(imc > 25 && imc <=30) {               
                document.write("Acima do peso");
            } else if(imc > 30 && imc <=35) {               
                document.write("obesidade I");
            } else {               
                document.write("obesidade II");
            }
            
        })

    </script>
    </div>

    <div class="tabuada">
        <form action="">
            <input type="number" placeholder="digite numerador da tabuada" id="numerador">
            <button type="button" id="btn-tabuada">calcular</button>
        </form>
    <script>
        let btnTabuada = document.querySelector('#btn-tabuada');
        btnTabuada.addEventListener('click', function(evn) {
  
            evn.preventDefault()
            let numero = Number(document.querySelector('#numerador').value);
            for(let i = 0; i <= 10; i++) {
                if(i<10) {
                    document.write(`0${i} x ${numero} = ${i * numero} <br>`);
                } else {
                    document.write(`${i} x ${numero} = ${i * numero} <br>`);
                }
            }
        })
    </script>
    </div>

</body>
</html>